

@media print {
    * {
        visibility: hidden;
    }

    .k-grid {
        visibility: visible;
        padding: 0px;
    }

    .k-grid * {
        visibility: visible;
    }

    #kendoGridPrint {
        position: absolute;
        left: 0;
        top: 0;
    }

}