
.appWrapper {        
        display: grid;
        grid-template-columns: 9rem 1fr;
        grid-template-rows: 3rem auto;
        grid-template-areas:
            "header header" 
            "sidebar main"
    }

   .sidebar {
        grid-area: sidebar;
        min-height: 92vh;
        color: aliceblue;
        margin-bottom:10px ;
        background-color: grey;
        width: 9rem;
    }

    .main {
        grid-area: main;
        overflow: auto;
    }

    .header {
        grid-area: header;
        background-color: rgba(132, 214, 245, 0.5);
        height: 3rem;
    }